.w{
    border-bottom: 1px solid #FF0000;
    height: 36px;
    line-height: 36px;
    position: relative;
    width: 800px;
}
.w h2{
    padding: 0;
    margin: 0;
    font-family: arial;
    float: left;
    display: inline;
}
.tab-item a {
    text-decoration: none;
    color: #666;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    background: #fff;
    overflow: hidden;
    float: left;
    white-space: nowrap;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#tab{
    position: absolute;
    left: 300px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.tab-item{
    float: left;
    display: inline;
    height: 34px;
    position: relative;
}
.tab-item span{
    overflow: hidden;
    height: 14px;
    width: 1px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 10px;  
}
.tab-item-selected span{
    display: none;  
}
.tab-item-selected a{
    position: absolute;
    white-space: nowrap;
    left: -1px;
    top: -1px;
    border-left: 1px solid #FF0000;
    border-right: 1px solid #FF0000;
    border-top: 3px solid #FF0000;
    color: #FF0000;
    text-indent: 1px;
    height: 34px;
    line-height: 30px;
}
.clr{
    content: ' ';
    clear: both;
    display: block;
}
#content{
    width: 800px;
    height: 200px;
    border: 1px solid #ccc;
}
#content li{
    width: 800px;
    height: 200px;
    float: left;
    display: inline;
    opacity: 0.3;
}
.item1{
    background: cornflowerblue;
}
.item2{
    background: chocolate;
}
.item3{
    background: aquamarine;
}
.item4{
    background: blueviolet;
}
#content .hide{
    display: none;
}
#content .show{
    display: block;
}