body{
    padding:120px;
}
.watch-box{
    position: relative;
	float: left;
	width: 210px;
	height: 151px;
    background: #cce;
}
.clock-dial{
    border: 7px solid #fff;
    width: 42px;
    height: 42px;
    margin-top: 31px;
    margin-left: 72px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.clock-h{
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    margin-top: 2.5px;
    width: 5px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    z-index: 2;
}
.chock-m{
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    margin-top: 2px;
    width: 5px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    animation: css3-watch 20s steps(60, end) infinite;
    transform-origin: 2.5px 19.5px;
}

.chock-o{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -3.5px;
    margin-top: -3.5px;
    background: #fff;
    z-index: 3;
}
.chock-s{
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -6px;
    width: 5px;
    height: 28px;
    animation: css3-watch 12s linear infinite;
    transform-origin: 2.7px 27px;
    z-index: 4;
}
.pin{
    width: 5px;
    height: 5px;
    background: #cce;
    position: absolute;
    border-radius: 50px;
}
@-webkit-keyframes css3-watch {
	to {
		transform: rotate(360deg);
	}
}